<!DOCTYPE html>
<html lang="en" ng-app="banatApp">
<head>
  <meta charset="UTF-8">
  <title>Banat Hub Login</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-controller="LoginController">

  <div class="container">

    <!-- Left Logo Section -->
    <div class="left">
      <img src="images/logo.png" alt="Banat Hub Logo" class="logo">
    </div>

    <!-- Right Login Card -->
    <div class="right">
      <div class="login-card">
        <h2>Login</h2>

        <form ng-submit="login()">
          <div class="input-group">
            <input type="email" placeholder="Email" ng-model="user.email" required>
            <span class="icon">📧</span>
          </div>

          <div class="input-group">
            <input type="password" placeholder="Password" ng-model="user.password" required>
            <span class="icon">🔒</span>
          </div>

          <button type="submit" class="btn green">Continue</button>
          <button type="button" class="btn black"
  onclick="window.location.href='signup.html'">
  Sign up
</button>

          <p class="forgot">Forgot Password?</p>
        </form>
      </div>
    </div>

  </div>

  <script>
    angular.module('banatApp', [])
      .controller('LoginController', function($scope) {
        $scope.user = {};

        $scope.login = function() {
          alert("Email: " + $scope.user.email);
        };
      });
  </script>

</body>
</html>